name: This is my Github Actions File

on:
    pull_request:
      paths: 'storybook/**'
    push:
      branches: [ "main" ]
    
    workflow_dispatch: 
      inputs:
        story_title:
          description: 'input your story title here'
          required: true
          type: string
        author_name: 
          description: 'input your author name here'
          required: true
          type: string

jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v3

            - name: This is a linux command
              run: |
               echo "Once upon a time in a faraway land"
               echo " ${{ inputs.story_title }} was written by ${{ inputs.author_name }}"
               echo "This whimsical tale takes you on a journey through a magical forest where every flower could talk."
               echo "Will you explore its secrets?"

            - name: One last line
              run: echo "Done."



